<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova.parse.push.notifications" version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>ParsePush</name>
  <description>Cordova / Phonegap plugin for native integration of Apple Push Notifications for iOS with Parse.</description>
  <author>Nick Barth</author>
  <keywords>iOS Push Notifications Parse</keywords>
  <license>MIT</license>

  <!-- JavaScript interface -->
  <js-module src="www/ParsePush.js" name="ParsePush" target="www/ParsePush.js">
    <clobbers target="window.ParsePush" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="plugins">
      <feature name="ParsePush">
        <param name="ios-package" value="ParsePush"/>
        <param name="onload" value="true" />
      </feature>
      <plugin name="ParsePush" value="ParsePush"/>
    </config-file>

    <!-- Plugin Code -->
    <header-file src="src/ios/AppDelegate+ParsePush.h" />
    <source-file src="src/ios/AppDelegate+ParsePush.m" />

    <!-- Parse framework -->
    <framework src="src/ios/frameworks/Parse.framework" custom="true" />

    <!-- Parse framework -->
    <framework src="src/ios/frameworks/FacebookSDK.framework" custom="true" />

    <!-- System frameworks -->
    <framework src="libz.dylib" />
    <framework src="AudioToolbox.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
  </platform>
</plugin>
